{% extends 'FrontTemplate2.html.twig' %}

{% block title %}Message Envoyé avec Succès{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Merci Pour votre attention</h1>
                        <p class="text-center">Nous vous avons contacté le plus rapidement possible !!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
