{% extends 'FrontTemplate.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
<h1>Merci Pour votre attention , nous avons le contactez le plutot possible !!!</h1>
{% endblock %}
