{% extends 'BackEndTemplate.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Reclamations /</span> Display</h4>
            <div class="container">
                <h1>Statistiques des Reclamations Traitées par Type</h1>
                <div style="max-width: 700px; max-height: 700px;"> <!-- Container with fixed size -->
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>



{% endblock %}