{% extends 'home.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-header">
                <h6 class="card-title text-center">Réinitialiser votre mot de passe</h6>
            </div>
            <div class="card-body">
                <h4>Reset your password</h4>
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}

                <button class="btn btn-primary btn-block">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
