{% extends 'BackEndTemplate.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card mx-auto" style="max-width: 600px;">
            <div class="card-header">
                <h5 class="card-title text-center">Create new User</h5>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        {{ include('admin/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('app_admin_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
{% endblock %}
