{% extends 'base.html.twig' %}

{% block title %}Edit Appelsoffres{% endblock %}

{% block body %}
    <h1>Edit Appelsoffres</h1>

    {{ include('appelsoffres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appelsoffres_index') }}">back to list</a>

    {{ include('appelsoffres/_delete_form.html.twig') }}
{% endblock %}
