<form method="post" action="{{ path('app_usercadeaux_delete', {'id': usercadeaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usercadeaux.id) }}">
    <button class="btn">Delete</button>
</form>
