{# templates/emails/reclamation_traitement.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reclamation Traitée</title>
</head>
<body>
<h1>Votre Reclamation a été traitée</h1>
<p>{{ descriptionDuTraitement }}</p>
</body>
</html>
