{% extends '/user/FrontTemplate.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {{ include('user/login.html.twig', {'button_label': 'login'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/login.html.twig') }}
{% endblock %}
